.encyclopedia {
    float: left;
    position: relative;
    left: 40px;
    width: 44%;
    text-align: center;
    background-color: lightgoldenrodyellow;
    margin: 20px;
    padding: 50px;
}

@media screen and (max-width: 800px) {
    .encyclopedia {   
      width: 100%;
      margin-bottom: 20px;
      margin-right: 20px;
      padding: 20px;
    }
  }

.reference {
    font-size: smaller;
    color: lightgrey;
}
